html {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

body {
  background-color: #2b2e3b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #9feaf9;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#logo {
  background-image: url("../images/wemp_splash.png");
  width: 225px;
  height: 118px;
  margin: 0 auto 20px;
}

.title {
  font-weight: normal;
  margin: 0;
}

#bottom-info {
  position: fixed;
  font-weight: bold;
  color: #d14;
  width: 100%;
  bottom: 0;
}